@import 'https://fonts.googleapis.com/css?family=Aclonica';


.IconsRow{
    width: auto;
    display: inline-flex; 
    justify-content:  center;
    align-items:  center;
}

.IconsRow>*{
    width: auto;
}


#nameHeader{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: xx-large;
    font-weight: bold;
    font-style: normal;
    margin: 0%;
    border-radius: 10%;
}

#contact{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 0%;
    width: 100%;
    margin-top: 1rem;
}

.coverImage{
    width: 25vh;
    height: 25vh;
    border-radius: 15vh;
}

.videoTag {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

.spans {
    width: 100%;
    color: #FFFFFF;
    font-family: Aclonica;
    font-size: large;
}

.mainPage{
    position: relative;
}

.welcomeText {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 20vh;
    flex-direction: column;
}

.sweet-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
    font-size: calc(10px + 2vmin);
}

.css-1dq0xfy, .css-d6y1d0 {
    margin-right: 2rem;
}

.h1-upper {
    margin: 0;
    align-items: center;
}

.App {
    text-align: center;
    width: auto;
    background-color: #282c34;
    color: #FFFFFF;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .spans {
        animation: App-Text 2s;
    }
}

.App-link {
    color: #61dafb;
}

.homescreenCards{
    height: 37vh;
    padding: 0;
    margin-top: 5px;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.homescreenImages{
    height: 20vh;
    padding: 0;
}

@keyframes App-Text {
    0% {
        opacity: 0.25;
        width: 100%;
        align-items: center;
        position: fixed;
        bottom: 5%;
        margin-left: auto;
        margin-right: auto;
    }

    100% {
        opacity: 1;
        width: 100%;
        align-items: center;
        position: fixed;
        bottom: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}